<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button
          (click)="toggleMobileMenu()"
          type="button"
          class="relative inline-flex items-center justify-start rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg
            class="block h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
          <svg
            class="hidden h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div class="flex flex-shrink-0 items-center">
        <img
          class="h-14 w-auto"
          src="../../../../assets/images/logo.png"
          alt="Your Company"
        />
      </div>
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-center"
      >
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a
              (click)="navigateToHome()"
              class="rounded-md px-3 py-2 text-sm font-medium cursor-pointer"
              [class.bg-gray-900]="currentPage === 'home'"
              [class.text-white]="currentPage === 'home'"
              [class.text-gray-300]="currentPage !== 'home'"
              [class.hover:bg-gray-700]="currentPage !== 'home'"
              [class.hover:text-white]="currentPage !== 'home'"
              [attr.aria-current]="currentPage === 'home' ? 'page' : null"
              >Home</a
            >
            <a
              (click)="navigateToHowItWorks()"
              class="rounded-md px-3 py-2 text-sm font-medium cursor-pointer"
              [class.bg-gray-900]="currentPage === 'how-it-works'"
              [class.text-white]="currentPage === 'how-it-works'"
              [class.text-gray-300]="currentPage !== 'how-it-works'"
              [class.hover:bg-gray-700]="currentPage !== 'how-it-works'"
              [class.hover:text-white]="currentPage !== 'how-it-works'"
              [attr.aria-current]="
                currentPage === 'how-it-works' ? 'page' : null
              "
              >Come funziona</a
            >
            <a
              (click)="navigateToSubscribe()"
              class="rounded-md px-3 py-2 text-sm font-medium cursor-pointer"
              [class.bg-gray-900]="currentPage === 'subscribe'"
              [class.text-white]="currentPage === 'subscribe'"
              [class.text-gray-300]="currentPage !== 'subscribe'"
              [class.hover:bg-gray-700]="currentPage !== 'subscribe'"
              [class.hover:text-white]="currentPage !== 'subscribe'"
              [attr.aria-current]="currentPage === 'subscribe' ? 'page' : null"
              >Abbonati</a
            >
            <a
              (click)="navigateToContactUs()"
              class="rounded-md px-3 py-2 text-sm font-medium cursor-pointer"
              [class.bg-gray-900]="currentPage === 'contact-us'"
              [class.text-white]="currentPage === 'contact-us'"
              [class.text-gray-300]="currentPage !== 'contact-us'"
              [class.hover:bg-gray-700]="currentPage !== 'contact-us'"
              [class.hover:text-white]="currentPage !== 'contact-us'"
              [attr.aria-current]="currentPage === 'contact-us' ? 'page' : null"
              >Contattaci</a
            >
          </div>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <div class="relative ml-3" *ngIf="isLogged$ | async; else LoggedIn">
          <div>
            <button
              (click)="toggleDropdown()"
              type="button"
              class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
              id="user-menu-button"
              aria-expanded="false"
              aria-haspopup="true"
            >
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <img
                class="h-8 w-8 rounded-full"
                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt=""
              />
            </button>
          </div>

          <div
            *ngIf="isDropdownOpen"
            class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            tabindex="-1"
          >
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-0"
              >Your Profile</a
            >
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-1"
              >Settings</a
            >
            <a
              class="block px-4 py-2 text-sm text-gray-700 cursor-pointer"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-2"
              (click)="logout()"
              >Logout</a
            >
          </div>
        </div>

        <ng-template #LoggedIn>
          <div class="flex items-center">
            <button
              (click)="navigateToLogin()"
              type="button"
              class="relative inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-orange-600 hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
              Login
            </button>
            <button
              (click)="navigateToRegister()"
              type="button"
              class="ml-3 relative inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-orange-600 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
              Registrati
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div *ngIf="isMobileMenuOpen" class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a
        (click)="navigateToHome()"
        class="rounded-md block px-3 py-2 text-base font-medium"
        [class.bg-gray-900]="currentPage === 'home'"
        [class.text-white]="currentPage === 'home'"
        [class.text-gray-300]="currentPage !== 'home'"
        [class.hover:bg-gray-700]="currentPage !== 'home'"
        [class.hover:text-white]="currentPage !== 'home'"
        [attr.aria-current]="currentPage === 'home' ? 'page' : null"
        >Home</a
      >
      <a
        (click)="navigateToHowItWorks()"
        class="rounded-md block px-3 py-2 text-base font-medium"
        [class.bg-gray-900]="currentPage === 'how-it-works'"
        [class.text-white]="currentPage === 'how-it-works'"
        [class.text-gray-300]="currentPage !== 'how-it-works'"
        [class.hover:bg-gray-700]="currentPage !== 'how-it-works'"
        [class.hover:text-white]="currentPage !== 'how-it-works'"
        [attr.aria-current]="currentPage === 'how-it-works' ? 'page' : null"
        >Come funziona</a
      >
      <a
        (click)="navigateToSubscribe()"
        class="rounded-md block px-3 py-2 text-base font-medium"
        [class.bg-gray-900]="currentPage === 'subscribe'"
        [class.text-white]="currentPage === 'subscribe'"
        [class.text-gray-300]="currentPage !== 'subscribe'"
        [class.hover:bg-gray-700]="currentPage !== 'subscribe'"
        [class.hover:text-white]="currentPage !== 'subscribe'"
        [attr.aria-current]="currentPage === 'subscribe' ? 'page' : null"
        >Abbonati</a
      >
      <a
        (click)="navigateToContactUs()"
        class="rounded-md block px-3 py-2 text-base font-medium"
        [class.bg-gray-900]="currentPage === 'contact-us'"
        [class.text-white]="currentPage === 'contact-us'"
        [class.text-gray-300]="currentPage !== 'contact-us'"
        [class.hover:bg-gray-700]="currentPage !== 'contact-us'"
        [class.hover:text-white]="currentPage !== 'contact-us'"
        [attr.aria-current]="currentPage === 'contact-us' ? 'page' : null"
        >Contattaci</a
      >
    </div>
  </div>
</nav>
