<div class="">
  <div class="mx-auto max-w-7xl sm:px-6 sm:py-32 lg:px-8 sm:h-screen">
    <div
      class="relative isolate overflow-hidden px-6 shadow-2xl rou sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0 bg-opacity-40 bg-gray-900 backdrop-filter backdrop-blur-md"
    >
      <div class="flex items-center sm:hidden">
        <img
          class="h-52 mx-auto"
          src="../../../../assets/images/logo-bianco.png"
          alt="Logo FootBets"
        />
      </div>
      <svg
        viewBox="0 0 1024 1024"
        class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0"
        aria-hidden="true"
      >
        <circle
          cx="512"
          cy="512"
          r="512"
          fill="url(#759c1415-0410-454c-8f7c-9a820de03641)"
          fill-opacity="0.7"
        />
        <defs>
          <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
            <stop stop-color="#FFA500" />
            <!-- Orange color -->
            <stop offset="1" stop-color="#FF4500" />
            <!-- Darker orange color -->
          </radialGradient>
        </defs>
      </svg>
      <div
        class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left"
      >
        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
          Rivoluziona il tuo gioco con i pronostici AI<br />Abbonati oggi!
        </h2>
        <p class="mt-6 text-lg leading-8 text-gray-300">
          Unisciti alla rivoluzione dei pronostici sportivi alimentata da AI e
          sfrutta le analisi avanzate per prendere decisioni vincenti.
        </p>
        <div
          class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start"
        >
          <button
            (click)="goToSubscription()"
            class="rounded-md bg-orange-600 text-white px-3.5 py-2.5 text-sm font-semibold shadow-sm :bg-orange-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
          >
            Inizia subito!
          </button>
          <button
            (click)="goToHowToWork()"
            class="text-sm font-semibold leading-6 text-white"
          >
            Scopri di più <span aria-hidden="true">→</span>
          </button>
        </div>
      </div>
      <div class="relative mt-16 h-80 lg:mt-8">
        <img
          class="absolute left- top-0 w-[50rem] max-w-none rounded-md"
          src="../../../../assets/images/pallone.webp"
          alt="App screenshot"
          width="1824"
          height="1080"
        />
      </div>
    </div>
  </div>
</div>

<div
  class="py-24 sm:py-5 bg-opacity-40 bg-gray-900 backdrop-filter backdrop-blur-md"
>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg font-semibold leading-8 text-white p-5">
      Approfondimenti e analisi basate sui dati delle squadre della Serie A
    </h2>
    <ul class="flex flex-wrap justify-between align-middle mx-1">
      <li
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-1 flex justify-center align-middle"
      >
        <a href="/it/team/atalanta"
          ><img
            loading="eager"
            src="https://img.legaseriea.it/vimages/62cfd69d/atalanta.png?webp&amp;q=70&amp;size=-x39"
            class="cursor-pointer"
            alt="atalanta"
        /></a>
      </li>
      <li
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-1 flex justify-center align-middle"
      >
        <a href="/it/team/bologna"
          ><img
            loading="eager"
            src="https://img.legaseriea.it/vimages/62cef3f6/bologna.png?webp&amp;q=70&amp;size=-x39"
            class="cursor-pointer"
            alt="bologna"
        /></a>
      </li>
      <li
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-1 flex justify-center align-middle"
      >
        <a href="/it/team/cagliari"
          ><img
            loading="eager"
            src="https://img.legaseriea.it/vimages/62cfd202/cagliari.png?webp&amp;q=70&amp;size=-x39"
            class="cursor-pointer"
            alt="cagliari"
        /></a>
      </li>
      <li
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-1 flex justify-center align-middle"
      >
        <a href="/it/team/empoli"
          ><img
            loading="eager"
            src="https://img.legaseriea.it/vimages/62cef42e/empoli.png?webp&amp;q=70&amp;size=-x39"
            class="cursor-pointer"
            alt="empoli"
        /></a>
      </li>
      <li
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-1 flex justify-center align-middle"
      >
        <a href="/it/team/fiorentina"
          ><img
            loading="eager"
            src="https://img.legaseriea.it/vimages/62cef452/fiorentina.png?webp&amp;q=70&amp;size=-x39"
            class="cursor-pointer"
            alt="fiorentina"
        /></a>
      </li>
      <li
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-1 flex justify-center align-middle"
      >
        <a href="/it/team/frosinone"
          ><img
            loading="eager"
            src="https://img.legaseriea.it/vimages/62cfdfec/frosinone.png?webp&amp;q=70&amp;size=-x39"
            class="cursor-pointer"
            alt="frosinone"
        /></a>
      </li>
      <li
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-1 flex justify-center align-middle"
      >
        <a href="/it/team/genoa"
          ><img
            loading="eager"
            src="https://img.legaseriea.it/vimages/649e8a06/GENOA-1.png?webp&amp;q=70&amp;size=-x39"
            class="cursor-pointer"
            alt="GENOA-1"
        /></a>
      </li>
      <li
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-1 flex justify-center align-middle"
      >
        <a href="/it/team/hellas-verona"
          ><img
            loading="eager"
            src="https://img.legaseriea.it/vimages/62cef475/colore=YELLOW.png?webp&amp;q=70&amp;size=-x39"
            class="cursor-pointer"
            alt="colore=YELLOW"
        /></a>
      </li>
      <li
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-1 flex justify-center align-middle"
      >
        <a href="/it/team/inter"
          ><img
            loading="eager"
            src="https://img.legaseriea.it/vimages/62cef496/inter.png?webp&amp;q=70&amp;size=-x39"
            class="cursor-pointer"
            alt="inter"
        /></a>
      </li>
      <li
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-1 flex justify-center align-middle"
      >
        <a href="/it/team/juventus"
          ><img
            loading="eager"
            src="https://img.legaseriea.it/vimages/62cef4b7/colore=WHITE.png?webp&amp;q=70&amp;size=-x39"
            class="cursor-pointer"
            alt="colore=WHITE"
        /></a>
      </li>
      <li
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-1 flex justify-center align-middle"
      >
        <a href="/it/team/lazio"
          ><img
            loading="eager"
            src="https://img.legaseriea.it/vimages/62cef4d5/lazio.png?webp&amp;q=70&amp;size=-x39"
            class="cursor-pointer"
            alt="lazio"
        /></a>
      </li>
      <li
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-1 flex justify-center align-middle"
      >
        <a href="/it/team/lecce"
          ><img
            loading="eager"
            src="https://img.legaseriea.it/vimages/62cef4f6/lecce.png?webp&amp;q=70&amp;size=-x39"
            class="cursor-pointer"
            alt="lecce"
        /></a>
      </li>
      <li
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-1 flex justify-center align-middle"
      >
        <a href="/it/team/milan"
          ><img
            loading="eager"
            src="https://img.legaseriea.it/vimages/62cef513/milan.png?webp&amp;q=70&amp;size=-x39"
            class="cursor-pointer"
            alt="milan"
        /></a>
      </li>
      <li
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-1 flex justify-center align-middle"
      >
        <a href="/it/team/monza"
          ><img
            loading="eager"
            src="https://img.legaseriea.it/vimages/62c6acbd/monza.png?webp&amp;q=70&amp;size=-x39"
            class="cursor-pointer"
            alt="monza"
        /></a>
      </li>
      <li
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-1 flex justify-center align-middle"
      >
        <a href="/it/team/napoli"
          ><img
            loading="eager"
            src="https://img.legaseriea.it/vimages/62cef532/napoli.png?webp&amp;q=70&amp;size=-x39"
            class="cursor-pointer"
            alt="napoli"
        /></a>
      </li>
      <li
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-1 flex justify-center align-middle"
      >
        <a href="/it/team/roma"
          ><img
            loading="eager"
            src="https://img.legaseriea.it/vimages/62cfd5ce/roma.png?webp&amp;q=70&amp;size=-x39"
            class="cursor-pointer"
            alt="roma"
        /></a>
      </li>
      <li
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-1 flex justify-center align-middle"
      >
        <a href="/it/team/salernitana"
          ><img
            loading="eager"
            src="https://img.legaseriea.it/vimages/62cef553/salernitana.png?webp&amp;q=70&amp;size=-x39"
            class="cursor-pointer"
            alt="salernitana"
        /></a>
      </li>
      <li
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-1 flex justify-center align-middle"
      >
        <a href="/it/team/sassuolo"
          ><img
            loading="eager"
            src="https://img.legaseriea.it/vimages/62cef590/sassuolo.png?webp&amp;q=70&amp;size=-x39"
            class="cursor-pointer"
            alt="sassuolo"
        /></a>
      </li>
      <li
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-1 flex justify-center align-middle"
      >
        <a href="/it/team/torino"
          ><img
            loading="eager"
            src="https://img.legaseriea.it/vimages/62cef5cb/torino.png?webp&amp;q=70&amp;size=-x39"
            class="cursor-pointer"
            alt="torino"
        /></a>
      </li>
      <li
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-1 flex justify-center align-middle"
      >
        <a href="/it/team/udinese"
          ><img
            loading="eager"
            src="https://img.legaseriea.it/vimages/62cef5e9/udinese.png?webp&amp;q=70&amp;size=-x39"
            class="cursor-pointer"
            alt="udinese"
        /></a>
      </li>
    </ul>
  </div>
</div>

<div class="bg-opacity-100 bg-white backdrop-filter backdrop-blur-md">
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8"
  >
    <div>
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Technical Specifications
      </h2>
      <p class="mt-4 text-gray-500">
        Esplora i confini del calcio con pronostici che solo l'intelligenza
        artificiale può darti.
      </p>

      <dl
        class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8"
      >
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Origine</dt>
          <dd class="mt-2 text-sm text-gray-500">
            Sviluppato dalla nostra squadra di esperti in data science e
            appassionati di sport.
          </dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Dati</dt>
          <dd class="mt-2 text-sm text-gray-500">
            Analisi profonda utilizzando dati storici, statistiche attuali e
            tendenze di gioco.
          </dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Copertura</dt>
          <dd class="mt-2 text-sm text-gray-500">
            Copertura globale di svariati sport e competizioni.
          </dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Presentazione</dt>
          <dd class="mt-2 text-sm text-gray-500">
            Presentazioni intuitive e report dettagliati consegnati direttamente
            sul tuo dispositivo.
          </dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Include</dt>
          <dd class="mt-2 text-sm text-gray-500">
            Accesso esclusivo ai pronostici, reportistica avanzata, e supporto
            clienti personalizzato.
          </dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Considerazioni</dt>
          <dd class="mt-2 text-sm text-gray-500">
            I pronostici sono generati utilizzando modelli AI avanzati che
            apprendono costantemente per migliorare la precisione.
          </dd>
        </div>
      </dl>
    </div>
    <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
      <img
        src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-01.jpg"
        alt="Walnut card tray with white powder coated steel divider and 3 punchout holes."
        class="rounded-lg bg-gray-100"
      />
      <img
        src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-02.jpg"
        alt="Top down view of walnut card tray with embedded magnets and card groove."
        class="rounded-lg bg-gray-100"
      />
      <img
        src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-03.jpg"
        alt="Side of walnut card tray with card groove and recessed card area."
        class="rounded-lg bg-gray-100"
      />
      <img
        src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-04.jpg"
        alt="Walnut card tray filled with cards and card angled in dedicated groove."
        class="rounded-lg bg-gray-100"
      />
    </div>
  </div>
</div>
